<header class="header">
    <div class="container">
        <div><p class="logo">ٱلمَوعِظَةُ الحَسَنَة</p></div>
        <ul>
            <li data-filter="main"  class="active"> <a href="#">الرئيسية </a></li>
            <li data-filter="hadeth"> <a href="#hadeth">الأحاديث </a></li>
            <li data-filter="lecture"> <a href="#lecture">محاضرات </a></li>
            <li data-filter="quran"> <a href="#quran"> القران الكريم</a></li>
            <li data-filter="pray"> <a href="#pray">أوقات الصلاة </a></li>
            <li data-filter="footer"> <a href="#footer">تواصل معنا </a></li>
        </ul>
        <div class="bars">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>