<header class="header">
    <div class="container">
        <div><p class="logo">ٱلفَلاحْ</p></div>
        <ul>
            <li data-felter="main" class="active">الرئيسية</li>
            <li data-felter="hadeth">الأحاديث</li>
            <li data-felter="lecture">محاضرات</li>
            <li data-felter="quran">القران الكريم</li>
            <li data-felter="pray">أوقات الصلاة</li>
            <li data-felter="footer">تواصل معنا</li>
        </ul>
        <div class="bars">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>