<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الاحسان</title>
    <link rel="icon" href="/خخخ.jpg" sizes="16x16">
    <!-- Fonts Links Are in Description -->
    <!-- thuluth decorated Font-->
    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=aref-ruqaa" />

    <!-- Cairo Font-->
    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=cairo-bold" />
    <!-- Font AWesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <!-- Main Style -->
    <!-- <link rel="stylesheet" href="./fonts/all.min.css"> -->
    <link rel="stylesheet" href="/style.css">
    
</head>